.background {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        opacity: 0;
        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        &.fade-in {
            animation-play-state: running;
        }
    }

    & .container {
        position: relative;

        & .bg-white {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
