//GALERÍA DE SERVICIOS
.portfolio_servicios {
    padding-top: 90px;
    padding-bottom: 40px;

    & .services-section1 {
        padding-bottom: 50px;

        & .card {
            margin-bottom: 10px;

            & .card-img-top {
                height: 400px;
                object-fit: cover;
                cursor: pointer;

                &:hover {
                    filter: brightness(70%) saturate(130%);
                    transition: all 0.2s ease-in-out;
                }
            }

            & .card-title {
                margin-top: 8px;
                margin-bottom: 8px;
                text-align: center;
            }

            & .card-text {
                text-align: center;
            }
        }
    }
}

//GALERÍA TATUAJES, PIERCINGS, INSUMOS
.portfolio {

    & .portfolio-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: 0.5rem;
        overflow: hidden;

        & .portfolio-item-caption {
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s ease-in-out;
            opacity: 0;
            background-color: #F1AD1F;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.portfolio-modal {

    & .modal-dialog {
        max-width: unset;
        width: auto;

        & .modal-content {
            background-color: transparent;
            border: none;

            & .modal-body {
                padding: 0;

                & .btn-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    padding: 3rem;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 0.5rem;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                    max-height: 85vh;
                    object-fit: contain;
                }
            }
        }
    }
}